body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #f4f4f4;
}

/* TOP BUTTONS */
.top-buttons {
  background: #2c2c2c;
  padding: 12px;
  text-align: center;
}

.top-btn {
  display: block;
  background: #e8cf8a;
  color: black;
  text-decoration: none;
  padding: 12px;
  margin-bottom: 10px;
  border-radius: 6px;
  font-weight: bold;
}

.telegram-btn {
  display: inline-block;
  background: #1da1f2;
  color: white;
  padding: 10px 25px;
  border-radius: 6px;
  text-decoration: none;
}

/* HEADER */
.header {
  background: #d8b56b;
  padding: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo-text {
  font-size: 20px;
  font-weight: bold;
}

.menu {
  font-size: 26px;
}

/* CONTENT */
.content {
  padding: 30px 20px;
  text-align: center;
}

.content h1 {
  font-size: 28px;
  margin-bottom: 15px;
}

.content p {
  color: #333;
  line-height: 1.6;
}

/* BUTTONS */
.btn {
  display: block;
  margin: 15px 0;
  padding: 15px;
  border-radius: 8px;
  text-decoration: none;
  font-size: 18px;
  font-weight: bold;
  color: white;
}

.register {
  background: #15803d;
}

.login {
  background: #0e7490;
}

.download {
  background: #b45309;
}
